In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
dat1 = pd.read_csv('Trip183.csv')
dat2 = pd.read_csv('Zon183Unsum.csv')

In [24]:
dat2.columns

Index(['Route', 'Dir', 'Trip_ID', 'InOut', 'E/L', 'STOP_ID', 'Bearing',
       'OnStreet', 'INT', 'CrossStreet', 'Jurisdiction', 'STOP_SEQ',
       'PassingTime', 'PassingMin', 'Period', 'AveOn', 'AveOff', 'AveLd',
       'Obs', 'TRANS_LINK_ID', 'StandingLoad', 'StandingMin'],
      dtype='object')

In [25]:
trip183unsum = dat2[['Route', 'Dir', 'Trip_ID', 'InOut', 'STOP_SEQ', 'Period', 'AveOn', 'AveOff', 'AveLd', 'Obs']]
#trip183unsum.head()

In [26]:
# def period_sel(df, period, direction):
#     is_period = df['Period']==period
#     is_direction = 
#     period_routes = df[is_period]
    
#     return period_routes

In [27]:
# def in_out(df, direction):
#     is_direction = df['InOut']==direction
#     in_out = df[is_direction]
    
#     return in_out

In [28]:
def route_ridership(df, period, direction, route):
    df = df.drop(df[(df.Period != period)].index)
    df = df.drop(df[(df.InOut != direction)].index)
    df = df.drop(df[(df.Route != route)].index)
    
    final_df = df.sort_values(by=['Trip_ID', 'STOP_SEQ'])
    riders = final_df.pivot(index='STOP_SEQ', columns='Trip_ID', values='AveLd')

    return final_df, riders

In [29]:
example48_fin

        Route Dir   Trip_ID InOut  STOP_SEQ Period  AveOn  AveOff  AveLd  Obs
129536     48   S  40569541     I       1.0     AM    1.8     0.0    1.8  107
129600     48   S  40569541     I       2.0     AM    0.1     0.0    1.8  115
129765     48   S  40569541     I       3.0     AM    0.3     0.0    2.0  115
130729     48   S  40569541     I       4.0     AM    0.2     0.0    2.2  115
131139     48   S  40569541     I       5.0     AM    0.2     0.3    2.0  115
130629     48   S  40569541     I       6.0     AM    0.3     0.5    1.8  115
131026     48   S  40569541     I       7.0     AM    0.0     0.0    1.8  115
130896     48   S  40569541     I       8.0     AM    0.1     0.0    1.9  115
131196     48   S  40569541     I       9.0     AM    0.0     0.0    1.9  115
131295     48   S  40569541     I      10.0     AM    0.0     0.0    1.9  115
131406     48   S  40569541     I      11.0     AM    0.0     0.0    1.9  115
131572     48   S  40569541     I      12.0     AM    0.0     0.0    1.9  115
131590     48   S  40569541     I      13.0     AM    0.1     0.0    2.0  115
131782     48   S  40569541     I      14.0     AM    0.0     0.0    2.0  115
131788     48   S  40569541     I      15.0     AM    0.0     0.0    2.0  115
131970     48   S  40569541     I      16.0     AM    0.0     0.1    2.0  115
132090     48   S  40569541     I      17.0     AM    0.1     0.1    1.9  115
132137     48   S  40569541     I      18.0     AM    0.1     0.1    1.9  114
132211     48   S  40569541     I      19.0     AM    0.4     0.8    1.6  115
130574     48   S  40569541     I      20.0     AM    0.8     0.1    2.2  115
130405     48   S  40569541     I      21.0     AM    0.1     0.5    1.8  115
130470     48   S  40569541     I      22.0     AM    0.0     0.1    1.8  115
129867     48   S  40569541     I      23.0     AM    0.2     0.5    1.4  115
132380     48   S  40569541     I      24.0     AM    0.0     0.1    1.3  115
132442     48   S  40569541     I      25.0     AM    0.3     0.2    1.3  115
129915     48   S  40569541     I      26.0     AM    0.1     0.1    1.3  115
130240     48   S  40569541     I      27.0     AM    0.0     0.0    1.3  115
129991     48   S  40569541     I      28.0     AM    0.0     0.1    1.2  115
130125     48   S  40569541     I      29.0     AM    0.0     0.2    1.1  103
129443     48   S  40569541     I      30.0     AM    0.0     2.0    0.0   59
...       ...  ..       ...   ...       ...    ...    ...     ...    ...  ...
131020     48   S  40570745     I       7.0     AM    0.1     0.0    2.8   34
130925     48   S  40570745     I       8.0     AM    0.0     0.0    2.8   34
131190     48   S  40570745     I       9.0     AM    0.1     0.0    2.9   34
131287     48   S  40570745     I      10.0     AM    0.0     0.0    2.9   34
131379     48   S  40570745     I      11.0     AM    0.0     0.0    2.9   34
131504     48   S  40570745     I      12.0     AM    0.1     0.0    3.0   34
131647     48   S  40570745     I      13.0     AM    0.0     0.0    3.0   34
131716     48   S  40570745     I      14.0     AM    0.0     0.0    3.1   34
131790     48   S  40570745     I      15.0     AM    0.0     0.0    3.1   34
131935     48   S  40570745     I      16.0     AM    0.0     0.0    3.0   34
132001     48   S  40570745     I      17.0     AM    0.1     0.1    3.1   34
132184     48   S  40570745     I      18.0     AM    0.1     1.7    1.5   34
132259     48   S  40570745     I      19.0     AM    0.4     0.1    1.7   34
130606     48   S  40570745     I      20.0     AM    0.4     0.1    2.0   34
130307     48   S  40570745     I      21.0     AM    0.1     0.1    2.1   34
130512     48   S  40570745     I      22.0     AM    0.3     0.1    2.3   34
129845     48   S  40570745     I      23.0     AM    0.2     0.2    2.3   34
132357     48   S  40570745     I      24.0     AM    0.0     0.1    2.2   34
132510     48   S  40570745     I      25.0     AM    0.0     0.2    1.9   34
129926     48   S  40570745     I      26.0     AM    0.0     0.0    1.9   34
130248     48   S  40570745     I      27.0     AM    0.0     0.0    2.0   34
130061     48   S  40570745     I      28.0     AM    0.0     0.0    2.0   34
130103     48   S  40570745     I      29.0     AM    0.0     0.0    2.0   34
129402     48   S  40570745     I      30.0     AM    0.0     2.0    0.0   34
132499     48   S  40570746     I      25.0     AM    0.0     0.0    2.3  123
129930     48   S  40570746     I      26.0     AM    0.0     0.0    2.3  123
130261     48   S  40570746     I      27.0     AM    0.0     0.0    2.3  123
130088     48   S  40570746     I      28.0     AM    0.0     0.0    2.3  123
130110     48   S  40570746     I      29.0     AM    0.0     0.0    2.3  123
129403     48   S  40570746     I      30.0     AM    0.0     2.3    0.0  123

[534 rows x 10 columns]

In [30]:
example48_fin, rider48 = route_ridership(trip183unsum, 'AM', 'I', 48)
rider48

Trip_ID,40569541,40569546,40569547,40569548,40569552,40569554,40569555,40569558,40569560,40569564,40569567,40569698,40569701,40569726,40570121,40570589,40570590,40570591,40570745,40570746
STOP_SEQ,,,,,,,,,,,,,,,,,,,,
1.0,1.8,1.7,1.7,3.5,3.2,3.7,3.0,3.6,9.5,2.9,3.0,4.2,7.1,7.0,1.8,1.4,2.0,1.1,1.8,NaN
2.0,1.8,1.9,2.7,3.9,3.8,4.5,3.9,4.9,11.8,3.8,4.3,5.6,9.6,9.1,1.9,1.3,2.2,1.6,1.8,NaN
3.0,2.0,2.3,3.0,5.1,4.4,5.5,5.1,6.4,15.4,5.0,5.5,6.9,11.8,10.7,2.1,1.7,2.4,2.2,3.3,NaN
4.0,2.2,3.4,3.5,5.3,5.2,7.7,6.0,8.5,18.1,5.6,6.5,8.9,15.8,12.9,2.5,2.2,4.0,2.3,3.3,NaN
5.0,2.0,3.8,3.9,5.7,5.8,10.6,7.3,10.6,26.8,7.2,7.4,10.7,24.0,17.4,2.6,2.8,5.2,2.6,3.3,NaN
6.0,1.8,4.2,4.6,8.2,7.7,12.2,7.9,11.4,26.9,7.5,7.8,10.7,24.4,17.4,2.7,2.6,4.0,2.8,2.8,NaN
7.0,1.8,4.1,4.7,8.3,8.0,12.3,8.0,11.5,27.3,8.0,NaN,11.8,25.4,18.2,2.8,2.6,3.8,2.8,2.8,NaN
8.0,1.9,3.7,4.7,8.4,8.5,13.2,9.0,12.1,33.2,8.5,NaN,12.9,29.9,19.8,2.9,2.7,3.7,2.8,2.8,NaN
9.0,1.9,3.8,4.9,9.4,8.7,13.2,9.0,12.1,35.1,8.7,NaN,13.3,31.8,20.0,2.9,2.8,3.8,2.9,2.9,NaN
10.0,1.9,3.9,4.9,9.9,9.3,14.2,9.9,13.0,36.0,8.6,NaN,13.7,33.8,21.7,3.0,2.7,3.7,2.9,2.9,NaN
11.0,1.9,3.9,5.8,10.1,9.4,14.5,10.6,14.2,39.9,8.8,NaN,14.3,36.6,26.5,3.0,2.9,3.7,2.9,2.9,NaN
12.0,1.9,3.8,5.9,10.2,9.5,14.5,10.7,14.2,40.0,8.8,NaN,14.4,36.8,26.6,3.0,2.9,3.7,2.9,3.0,NaN
13.0,2.0,3.5,5.1,7.7,7.2,13.0,11.1,14.6,43.8,8.5,NaN,14.1,39.5,28.1,3.5,3.2,3.9,2.8,3.0,NaN
14.0,2.0,3.5,5.1,8.0,7.6,13.1,11.4,15.2,44.7,8.6,NaN,14.5,40.5,29.0,3.5,3.3,3.7,2.8,3.1,NaN
15.0,2.0,3.5,5.1,8.0,7.5,13.0,11.4,15.7,46.5,8.7,NaN,14.7,41.9,31.7,3.5,3.3,3.8,2.9,3.1,NaN
16.0,2.0,3.4,4.3,7.6,7.1,12.1,10.8,14.8,42.4,8.2,NaN,13.7,37.8,29.7,3.7,3.2,3.8,2.6,3.0,NaN
17.0,1.9,3.9,4.7,7.6,7.4,11.4,11.2,16.0,46.0,8.3,NaN,15.0,40.8,31.0,3.7,3.2,4.4,3.1,3.1,NaN
18.0,1.9,4.1,5.2,8.3,8.4,12.1,11.6,16.9,46.6,8.3,NaN,15.5,42.0,31.7,4.1,3.4,4.7,3.3,1.5,NaN
19.0,1.6,4.7,5.2,7.8,6.5,12.0,10.8,19.1,47.5,NaN,NaN,16.3,44.2,34.0,4.2,3.4,5.3,3.6,1.7,NaN
20.0,2.2,4.8,4.4,7.1,5.9,10.0,9.1,15.3,43.3,NaN,NaN,14.3,40.6,32.1,4.3,2.9,5.1,3.7,2.0,NaN
21.0,1.8,4.3,3.8,6.6,5.2,8.4,7.3,8.0,8.9,NaN,NaN,5.4,8.6,12.0,3.9,2.6,4.7,3.1,2.1,NaN
22.0,1.8,4.1,3.5,6.8,5.3,8.4,7.2,7.2,7.8,NaN,NaN,4.7,7.5,11.3,4.3,2.9,4.4,2.9,2.3,NaN
23.0,1.4,3.8,3.0,5.9,4.2,6.2,5.3,3.9,3.6,NaN,NaN,3.4,4.3,3.2,3.8,2.4,3.8,2.6,2.3,NaN
24.0,1.3,3.8,3.0,5.9,4.3,5.7,4.9,3.8,3.8,NaN,NaN,3.4,4.3,3.4,3.7,2.4,3.8,2.6,2.2,NaN
25.0,1.3,3.8,2.9,6.0,4.5,5.8,5.1,4.0,3.8,NaN,NaN,NaN,4.5,3.5,3.7,2.1,3.6,2.6,1.9,2.3
26.0,1.3,4.2,3.2,6.7,5.0,5.9,5.4,4.6,4.2,NaN,NaN,NaN,4.8,3.6,4.1,2.1,3.6,2.8,1.9,2.3
27.0,1.3,4.3,3.1,7.1,5.1,6.0,5.6,4.7,4.2,NaN,NaN,NaN,4.8,3.9,4.1,2.9,3.6,2.9,2.0,2.3
28.0,1.2,3.4,3.0,6.8,4.7,5.6,5.4,4.4,3.7,NaN,NaN,NaN,4.2,3.6,2.9,2.7,2.8,3.0,2.0,2.3
29.0,1.1,3.4,3.0,6.5,3.8,5.3,5.3,4.3,3.5,NaN,NaN,NaN,4.1,3.5,2.8,2.6,2.8,2.9,2.0,2.3
30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
mean48 = pd.DataFrame((rider48.mean(axis=1)), columns=['Mean'])
mean48.Mean*=80
mean48.head()

                Mean
STOP_SEQ
1.0       269.473684
2.0       338.526316
3.0       424.421053
4.0       521.684211
5.0       672.421053

In [35]:
trip183 = dat1[['SignRt', 'InOut', 'KeyTrip', 'BusType', 'Seats', 'Period', 'AnnRides']]
trip183.head()
#trip183.BusType.unique()

   SignRt InOut   KeyTrip  BusType  Seats Period  AnnRides
0    14.0     I  40983895       43     35     AM    4080.0
1     1.0     O  40983896       43     35     AM    3825.0
2     1.0     I  40983897       43     35     AM    3825.0
3    14.0     O  40983898       43     35     AM    7395.0
4    14.0     I  40983904       43     35     AM    9435.0

In [51]:
trip183.loc[trip183['KeyTrip'] == 40569541]

      SignRt InOut   KeyTrip  BusType  Seats Period  AnnRides
4230    48.0     I  40569541       80     58     AM    1275.0

In [52]:
trip183.loc[trip183['KeyTrip'] == 40569560]

      SignRt InOut   KeyTrip  BusType  Seats Period  AnnRides
4272    48.0     I  40569560       80     58     AM   16575.0

In [63]:
testing1 = dat2.loc[dat2['Trip_ID'] == 40569541]
tes1 = testing1[['STOP_ID', 'STOP_SEQ']]
tes1 = tes1.sort_values(by=['STOP_SEQ'])
tes1

        STOP_ID  STOP_SEQ
129536    10912       1.0
129600    10914       2.0
129765    10917       3.0
130729    29240       4.0
131139    29247       5.0
130629    25243       6.0
131026    29245       7.0
130896    29244       8.0
131196    29248       9.0
131295    29249      10.0
131406    29251      11.0
131572    29253      12.0
131590    29254      13.0
131782    29255      14.0
131788    29256      15.0
131970    29257      16.0
132090    35821      17.0
132137    35850      18.0
132211    35860      19.0
130574    12770      20.0
130405    12600      21.0
130470    12630      22.0
129867    12010      23.0
132380    43724      24.0
132442    43728      25.0
129915    12481      26.0
130240    12487      27.0
129991    12484      28.0
130125    12486      29.0
129443     8402      30.0

In [65]:
testing2 = dat2.loc[dat2['Trip_ID'] == 40569560]
tes2 = testing2[['STOP_ID', 'STOP_SEQ']]
tes2 = tes2.sort_values(by=['STOP_SEQ'])
tes2

        STOP_ID  STOP_SEQ
129524    10912       1.0
129635    10914       2.0
129763    10917       3.0
130781    29240       4.0
131058    29247       5.0
130620    25243       6.0
130962    29245       7.0
130888    29244       8.0
131245    29248       9.0
131300    29249      10.0
131411    29251      11.0
131527    29253      12.0
131634    29254      13.0
131769    29255      14.0
131826    29256      15.0
131893    29257      16.0
132095    35821      17.0
132173    35850      18.0
132221    35860      19.0
130575    12770      20.0
130333    12600      21.0
130412    12630      22.0
129787    12010      23.0
132348    43724      24.0
132437    43728      25.0
129957    12481      26.0
130210    12487      27.0
129989    12484      28.0
130177    12486      29.0
129374     8402      30.0

In [33]:
bus_mass = {
11: 11000,
26: 19051,
32: 11793,
36: 11793,
37: 12247,
43: 14913,
45: 19051,   
46: 18835,
60: 19051,
62: 19051,
68: 19051,
70: 12927,
72: 12927,
73: 12927,
80: 19051,
81: 19051,
82: 19051,
90: 12927,
91: 12927,
92: 12927,
95: 19051,
96: 19051
    }

In [36]:
trip183 = trip183.replace({'BusType': bus_mass})

In [48]:
trip_mass = trip183[['BusType', 'KeyTrip']]