In [3]:
import os 
import sys
module_path = os.path.abspath(os.path.join('..'))
sys.path.append(module_path)

In [4]:
from route_dynamics.route_riders import route_riders as ride

/Users/ryanjcarlin/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [5]:
df_78, riders_78, mass_78 = ride.route_ridership('PM', 'I', 78)

In [6]:
riders_78

                Mean
STOP_SEQ
1.0       106.666667
2.0       116.000000
3.0       120.000000
4.0       129.333333
5.0       169.333333
6.0       293.333333
7.0       233.333333

In [7]:
mass_78

11793